body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.full-page-background {
  background: #00c6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0072ff,
    #00c6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0072ff,
    #00c6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 100vh;
}

h1 {
  text-align: center;
  color: ivory;
  padding: 20px;
  text-decoration: underline;
  font-size: 3rem;
}

.example-box {
  background: #303030;
  height: 20vh;
  margin: 20px 50px;
}

h3 {
  color: ivory;
  text-align: center;
  font-size: 2rem;
}
